.mobile {
    display: none;
}

/* Media query pour les mobiles */
@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}