html {
  overflow-y: hidden;
  overflow-x: hidden;

  --bg-color: #121212;
  --container-color: #242424;
  --btn-color: #23b77a;
  --btn-color-hover:#1c9764;
  --btn-color-active:#16724c;
}
main {
  overflow-y: visible;
  overflow-x: hidden;
}

button svg {
  width: 20px;
  margin-right: 5px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px !important;
}

body {
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Police d'écriture moderne */
  color: #e4e4e4;
  background-color: var(--bg-color);
}

.header {
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--container-color);
  color: white;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.header h1 {
  margin: 1px;
  margin-bottom: 4px;
}

.header-left,
.header-center {
  display: flex;
  align-items: center;
}

.header-left i {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.verticalBox{
  display: flex;
  flex-direction: row;
}

.separator{
  color: rgba(0, 0, 0, 0);
  min-height: 30px;
  min-width: 1px;
  border-radius: 2px;
  margin: 0 3px;
  background: var(--bg-color);
}

.horizontalBox{
  display: flex;
  flex-direction: column;
  border-left: 5px solid white;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  padding-left: 15px;
}

.submenu h3 {
  margin: 2px !important;
  margin-left: 15px !important;
  margin-bottom: 20px !important;
}

.submenu div {
  margin-bottom: 10px;
}

.header-center {
  justify-content: center;
}

.header-right a {
  font-size: 20px;
  text-decoration: none;
  margin-left: 10px;
}

.footer {
  background-color: var(--bg-color);
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.header a,
.footer a {
  color: white;
  text-decoration: none;
}

.header a:hover,
.footer a:hover {
  text-decoration: underline;
}

.header .fa-github,
.footer .fa-github {
  margin-right: 5px;
}

#chart-container {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  background: var(--container-color);
  justify-content: center;
  align-items: center;
}

#menu-container {
  background-color: var(--container-color);
  overflow: auto;
  margin-top: 10px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 400px;
}

#tooltip {
  padding: 10px;
  margin: 0px;
  position: absolute;
  border-radius: 5px;
  background-color: #191919b5;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
}

#tooltip > * {
  margin-top: 0px !important;
  margin-bottom: 5px;
}

#toolbox {
  padding: 15px;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  width: fit-content;
  right: 25px;
  background-color: #191919b5;
  z-index: 9999; /* Assure que la div est au-dessus de tous les autres éléments */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Styles de base */
.modern-button {
  background-color: var(--btn-color); /* Couleur de fond */
  border: none; /* Pas de bordure */
  color: white; /* Couleur du texte */
  padding: 7px 10px; /* Espacement à l'intérieur du bouton */
  text-align: center; /* Alignement du texte */
  text-decoration: none; /* Pas de soulignement */
  display: inline-block; /* Afficher en ligne */
  font-size: 16px; /* Taille de la police */
  margin: 4px 2px; /* Marge autour du bouton */
  cursor: pointer; /* Curseur */
  border-radius: 8px; /* Bord arrondi */
  transition-duration: 0.4s; /* Durée de l'animation */
}

/* Style au survol */
.modern-button:hover {
  background-color: var(--btn-color-hover); /* Nouvelle couleur de fond */
  color: white; /* Nouvelle couleur du texte */
}

/* Style enfoncé */
.modern-button:active {
  background-color: var(--btn-color-active); /* Nouvelle couleur de fond enfoncée */
  color: white; /* Nouvelle couleur du texte enfoncé */
}
